<div class="wrapper">
  <div class="blednedane">
    <p class="nag">W celu uzyskania pomocy, skontaktuj się z nami:</p>
    <div class="row">
      <p class="first">e-mail:</p>
      <p class="second">dudushop2001@wp.pl</p>
    </div>
    <div class="row">
      <p class="first">tel:</p>
      <p class="second">123 456 789</p>
    </div>
    <button class="logowanie" (click)="goToStronaGlowna()">OK</button>
  </div>
</div>
<div class="lastbar">
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
  <div class="dudu">DUDU</div>
</div>
